[submodule "FastVRTest"]
	path = FastVRTest
	url = git@github.com:tjschweitzer/FastVRTest.git
[submodule "FDS2UnityTool"]
	path = FDS2UnityTool
	url = git@github.com:SERDP-Closing-Gaps/FDS2UnityTool.git
[submodule "Masters-Thesis"]
	path = Masters-Thesis
	url = git@github.com:tjschweitzer/Masters-Thesis.git
